<!DOCTYPE html>
<html>
<head>
  <title>Trading History</title>
  <link rel="stylesheet" type="text/css" href="css/trading_history.css">
  <script>
    function toggleMenu() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    function goToHome() {
      window.location.href = "/";
    }
    function logout() {
      window.location.href = "/logout";
    }
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
  </script>
  <meta http-equiv="refresh" content="60" />
</head>
<body>
  <div class="menu-bar">
    <div class="pc-menu">
        <ul>
            <li><a onclick="goToHome()">&#8962;</a></li>    
            <li><a href="/coin_holdings">Coin Holding</a></li>
            <li><a href="/trading_history">Trading History</a></li>
            <li><a href="/trading_report">Trading Report</a></li>
            <div class="logout-button" onclick="logout()">LOGOUT</div>
        </ul>
    </div>
    <div class="mobile-menu">
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleMenu()">
                <i class="fa fa-caret-down"></i>&#9776;</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/coin_holdings">Coin Holding</a>
                <a href="/trading_history">Trading History</a>
                <a href="/trading_report">Trading Report</a>
            </div>
        </div>
        <div class="home-icon" onclick="goToHome()">&#8962;</div>
        <div class="logout-button" onclick="logout()">LOGOUT</div>
    </div>
  </div>
  <div class="title">Trading History</div>
  <div class="container"> 
    <table>
      <tr>
        <th>Datetime</th>
        <th>Total Investment</th>
        <th>Saving Amount</th>
        <th>Profit</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{ row.date_time }}</td>
        <td>{{ row.total_investment }}</td>
        <td>{{ row.sv_am }}</td>
        <td>{{ row.income }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>